<!DOCTYPE html>
<html lang="ko">
<head>
	{{> include/header }}
</head>

<script>
$(document).ready(function() {

	$('#calendar').fullCalendar({
		header : {
			left : 'prev,next today',
			center : 'title',
			right : 'month,agendaWeek,agendaDay,listMonth'
		},
		navLinks : true, // can click day/week names to navigate views
		businessHours : true, // display business hours
		editable : true,
		displayEventTime : false, // don't show the time column in list view

		// THIS KEY WON'T WORK IN PRODUCTION!!!
		// To make your own Google API key, follow the directions here:
		// http://fullcalendar.io/docs/google_calendar/
		googleCalendarApiKey : 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',

		// US Holidays
		events : 'en.usa#holiday@group.v.calendar.google.com',

		eventClick : function(event) {
			// opens events in a popup window
			window.open(event.url, 'gcalevent', 'width=700,height=600');
			return false;
		},

		loading : function(bool) {
			$('#loading').toggle(bool);
		}

	});
});
</script>
<body>
	{{> include/navbar }}

	<div class="container">
		 <div id='calendar'></div>
	</div>
</body>
</html>