<!DOCTYPE html>
<html lang="ko">
<head>
	{{> include/header }}
</head>

<script type="text/javascript">
  $(function(){
	 
  });
  </script>
<body>
	{{> include/newNavbar }}
	
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>사용자 이름</th>
					<th>사용자 이메일</th>
					<th>사용자 ID</th>
				</tr>
			</thead>
			<tbody>
				{{#memberList}}
				<tr>
					<td>
						{{memberNo}}
					</td>
					<td>
						<a href="/member/memberDetail?memberNo={{memberNo}}">{{memberNm}}</a>
					</td>
					<td>
						{{memberEmail}}
					</td>
					<td>
						{{memberId}}
					</td>
				</tr>
				{{/memberList}}
			</tbody>
		</table>
	</div>
	<button type="button" class="btn btn-primary">Submit</button>
</body>
</html>
