<!DOCTYPE html>
<html lang="ko">
<head>
	{{> include/header }}
</head>

<script type="text/javascript">
  $(function(){
	 
	$("#listBtn").on("click", function(){
		location.href="/user/userList";
	});
	
	$("#updateBtn").on("click", function(){
		var userNo = $("#userNo").val();
		
		location.href="/user/userUpdateForm?userNo=" + userNo;
	});
	
  });
  </script>
<body>
	{{> include/navbar }}
	
	<div class="container">
		<input type="hidden" id="userNo" value="{{user.userNo}}" />
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>No</th>
					<td>{{user.userNo}}</td>
				</tr>
				<tr>
					<th>사용자 이름</th>
					<td>{{user.userNm}}</td>
				</tr>
				<tr>
					<th>사용자 이메일</th>
					<td>{{user.userEmail}}</td>
				</tr>
				<tr>
					<th>사용자 ID</th>
					<td>{{user.userId}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-default clearfix pull-right" id="listBtn">목록</button>
		<button type="button" class="btn btn-primary clearfix pull-right" id="updateBtn">수정</button>
	</div>
</body>
</html>