<!DOCTYPE html>
<html lang="ko">
<head>
	{{> include/header }}
</head>

<script type="text/javascript">
  $(function(){
	 
  });
  </script>
<body>
	{{> include/navbar }}
	
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>사용자 이름</th>
					<th>사용자 이메일</th>
					<th>사용자 ID</th>
				</tr>
			</thead>
			<tbody>
				{{#userList}}
				<tr>
					<td>
						{{userNo}}
					</td>
					<td>
						<a href="/user/userDetail?userNo={{userNo}}">{{userNm}}</a>
					</td>
					<td>
						{{userEmail}}
					</td>
					<td>
						{{userId}}
					</td>
				</tr>
				{{/userList}}
			</tbody>
		</table>
	</div>
</body>
</html>
