<!DOCTYPE html>
<html lang="ko">
<head>
	{{> include/header }}
</head>

<script type="text/javascript">
  $(function(){
	 
	$("#listBtn").on("click", function(){
		location.href="/member/memberList";
	});
	
	$("#updateBtn").on("click", function(){
		var memberNo = $("#memberNo").val();
		
		location.href="/member/memberUpdateForm?memberNo=" + memberNo;
	});
	
  });
  </script>
<body>
	{{> include/newNavbar }}
	
	<div class="container">
		<input type="hidden" id="memberNo" value="{{member.memberNo}}" />
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>No</th>
					<td>{{member.memberNo}}</td>
				</tr>
				<tr>
					<th>사용자 이름</th>
					<td>{{member.memberNm}}</td>
				</tr>
				<tr>
					<th>사용자 이메일</th>
					<td>{{member.memberEmail}}</td>
				</tr>
				<tr>
					<th>사용자 ID</th>
					<td>{{member.memberId}}</td>
				</tr>
			</tbody>
		</table>
		
		<button type="button" class="btn btn-default clearfix pull-right" id="listBtn">목록</button>
		{{#memberInfo}}
			<button type="button" class="btn btn-primary clearfix pull-right" id="updateBtn">수정</button>
		{{/memberInfo}}
	</div>
</body>
</html>